<form id="messageForm">
  <input type="email" id="email" placeholder="Inserte su correo" />
  <input type="text" id="message" placeholder="Inserte mensaje" />
  <button type="button" onclick="addMessage(messageForm)">Enviar</button>
</form>