<form id="productsForm">
  <input type="text" name="title" id="title" placeholder="Nombre" />
  <input type="number" name="price" id="price" placeholder="Precio" />
  <input
    type="text"
    name="thumbnail"
    id="thumbnail"
    placeholder="Ruta de imagen"
  />
  <button type="button" onclick="addProduct(productsForm)">Enviar</button>
</form>